* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 6rem;
}
h3 {
  /* font-family: "Noto Sans TC", sans-serif; */
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
}
h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 3em;
}

p {
  font-family: "Quicksand", sans-serif;
}

.overall_container {
  width: 100%;
  min-height: 300vh;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dog_holder {
  position: absolute;
  width: 80vh;
  height: 80vh;
  background: #f4f9f9;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.dog_image {
  position: absolute;
  margin-top: 20px;
  width: 150%;
  z-index: 3;
}

.header_section {
  width: 100%;
  position: absolute;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.ss {
  width: 5%;
  height: 5vh;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.ms {
  width: 9%;
  height: 5vh;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.ls {
  width: 30%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 80px;
}
.logo {
  font-weight: 700;
  font-family: "Noto Sans TC", sans-serif;
}
.logo_text {
  font-size: 13px;
}
.xs {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid #f4f9f9;
  border-width: 1px;
}

.hero_section {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hero_text_column {
  width: 60%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.hero_text_column h1 {
  width: 60%;
}
span {
  text-decoration: underline;
}
.hero_text_column p {
  font-size: 25px;
  margin-top: 30px;
  width: 40%;
}
.explore_btn {
  width: 40%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.arrow_btn {
  width: 20%;
  height: 6vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore_btn p {
  margin-top: 14px;
  margin-left: 20px;
  font-size: 18px;
}
.hero_text_column1 {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hero_text_column1 p {
  font-weight: 600;
  text-align: right;
  width: 50%;
}
.statistics_section {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
.sl {
  width: 20%;
  height: 25vh;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px #f4f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sl p {
  font-weight: 600;
  margin-top: 20px;
}

.gallery_section {
  width: 100%;
  position: absolute;
  top: 130vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.gallery_text {
  width: 45%;
  height: inherit;
  display: flex;
  align-items: center;
}
.gallery_btn {
  width: 45%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.buttons {
  width: 30%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.buttons i {
  font-size: 25px;
}
.grid_section {
  width: 90%;
  height: 60vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.3rem;
  grid-template-areas:
    "image1 image1 image3 image3 image6 image6"
    "image1 image1 image3 image3 image6 image6"
    "image1 image1 image3 image3 image6 image6"
    "image1 image1 image4 image5 image6 image6"
    "image1 image1 image4 image5 image6 image6"
    "image1 image1 image4 image5 image6 image6";
}
.gr {
  background: silver;
}
.gallery_text_area {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image1 {
  grid-area: image1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image2 {
  grid-area: image2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image3 {
  grid-area: image3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image4 {
  grid-area: image4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image5 {
  grid-area: image5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image6 {
  grid-area: image6;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .dog_holder {
    width: 100%;
    max-height: 40vh;
    background: orange;
  }
}
