* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 6rem;
}
h3 {
  /* font-family: "Noto Sans TC", sans-serif; */
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
}
h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 3em;
}

p {
  font-family: "Quicksand", sans-serif;
}

.overall_container {
  width: 100%;
  min-height: 300vh;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dog_holder {
  position: absolute;
  width: 80vh;
  height: 80vh;
  background: #f4f9f9;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.dog_image {
  position: absolute;
  margin-top: 20px;
  width: 150%;
  z-index: 3;
}

.header_section {
  width: 100%;
  position: absolute;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
.htc:hover {
  cursor: pointer;
}
.ss {
  width: 5%;
  height: 5vh;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.ss:hover {
  cursor: pointer;
}
.ms {
  width: 9%;
  height: 5vh;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.ms:hover {
  cursor: pointer;
}
.ls {
  width: 30%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 80px;
}
.ls:hover {
  cursor: pointer;
}
.logo {
  font-weight: 700;
  font-family: "Noto Sans TC", sans-serif;
}
.logo_text {
  font-size: 13px;
}
.xs {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid #f4f9f9;
  border-width: 1px;
}

.hero_section {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hero_text_column {
  width: 60%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.hero_text_column h1 {
  width: 60%;
}
span {
  text-decoration: underline;
}
.hero_text_column p {
  font-size: 25px;
  margin-top: 30px;
  width: 40%;
}
.explore_btn {
  width: 40%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.explore_btn:hover {
  cursor: pointer;
}
.arrow_btn {
  width: 20%;
  height: 6vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow_btn:hover {
  cursor: pointer;
}
.explore_btn p {
  margin-top: 14px;
  margin-left: 20px;
  font-size: 18px;
}
.hero_text_column1 {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hero_text_column1 p {
  font-weight: 600;
  text-align: right;
  width: 50%;
}
.statistics_section {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
.sl {
  width: 20%;
  height: 25vh;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px #f4f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.sl p {
  font-weight: 600;
  margin-top: 20px;
}
.sl:hover {
  background: #222831;
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

.gallery_section {
  width: 100%;
  position: absolute;
  top: 130vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background: #f4f9f9;
}

.gallery_text {
  width: 45%;
  height: inherit;
  display: flex;
  align-items: center;
}
.gallery_btn {
  width: 45%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.buttons {
  width: 30%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.buttons i {
  font-size: 25px;
}
.buttons:hover {
  cursor: pointer;
}
.grid_section {
  width: 90%;
  height: 60vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.3rem;
  grid-template-areas:
    "image1 image1 image3 image3 image6 image6"
    "image1 image1 image3 image3 image6 image6"
    "image1 image1 image3 image3 image6 image6"
    "image1 image1 image4 image5 image6 image6"
    "image1 image1 image4 image5 image6 image6"
    "image1 image1 image4 image5 image6 image6";
}
.gr {
  background: silver;
}
.gallery_text_area {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image1 {
  grid-area: image1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/dog1.jpg") no-repeat;
  background-position: center;
}
.image2 {
  grid-area: image2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/dog2.webp") no-repeat;
}
.image3 {
  grid-area: image3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/dog2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.image4 {
  grid-area: image4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/dog3.jpg") no-repeat;
  background-position: center;
  background-size: contain;
}
.image5 {
  grid-area: image5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/dog4.webp") no-repeat;
  background-size: cover;
  background-position: center;
}
.image6 {
  grid-area: image6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/dog5.webp") no-repeat;
  background-position: center;
}

.popular_this_week {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 220vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.ptw_text {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ptw_sections {
  width: 90%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dw1 {
  background: url("images/Dw1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.dw2 {
  background: url("images/DW2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.dw3 {
  background: url("images/DW3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.dw4 {
  background: url("images/DW4.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.dw5 {
  background: url("images/DW5.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.dw6 {
  background: url("images/DW6.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.ptw_sections p {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}
.ptw_gallery {
  width: 90%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ptwg {
  width: 20%;
  height: 40vh;
  margin-left: 10px;
}
.ptw_btn {
  width: 90%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ptwg_indicator {
  width: 30%;
  height: 3vh;
  background: black;
  margin-left: 10px;
}
.customer_section {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.client1 {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.client2 {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.clients {
  width: 20%;
  height: 20vh;
  background: orange;
}
.one {
  background: url("images/client1.png") no-repeat;
  background-size: contain;
  background-position: center;

  box-shadow: 0 3px 10px #f4f9f9;
}
.two {
  background: url("images/client2.png") no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 3px 10px #f4f9f9;
}
.three {
  background: url("images/client3.png") no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 3px 10px #f4f9f9;
}
.four {
  background: url("images/client4.png") no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 3px 10px #f4f9f9;
}
.five {
  background: url("images/client5.png") no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 3px 10px #f4f9f9;
}
.six {
  background: url("images/client3.png") no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 3px 10px #f4f9f9;
}
.seven {
  background: url("images/client1.png") no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 3px 10px #f4f9f9;
}
.eight {
  background: url("images/client5.png") no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 3px 10px #f4f9f9;
}
.testimonial_section {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 380vh;
  background: #f4f9f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.testimonial_section .gallery_btn {
  justify-content: center;
}
.testimonial_section p {
  width: 50%;
  text-align: center;
  margin-top: 20px;
}
.client_reviews {
  width: 90%;
  height: 40vh;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cr {
  width: 30%;
  height: 30vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #fff;
}
.rating_img {
  background: url("images/ratings.png") no-repeat;
  background-size: contain;
  width: 50%;
  height: 3vh;
  margin-left: 30px;
}
.cr p {
  text-align: left;
  width: 80%;
  font-size: 13px;
  padding-left: 30px;
}
.mail_letter_section {
  position: absolute;
  width: 100%;
  top: 460vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mld_holder {
  width: 90%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mld_img {
  width: 30%;
  height: 50vh;
  background: url("images/DW7.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.mld_entry {
  width: 70%;
  height: 50vh;
  background: #222831;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mld_entry p {
  color: white;
}
.mld_entry h2 {
  color: white;
}
.input_area {
  width: 80%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
input {
  width: 70%;
  height: 7vh;
  border-color: none;
  font-size: 16px;
  padding-left: 20px;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .dog_holder {
    width: 100%;
    max-height: 40vh;
    background: orange;
  }
}
